body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

.counter-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.counter {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    width: 40px;
    height: 40px;
    background-color: #2E898D;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #247475;
}

#counterValue {
    width: 50px;
    font-size: 24px;
    text-align: center;
    margin: 0 10px;
}
